:root {
  --symb-bg-color: #fff;
  --symb-color: #000000a0;
  // --symb-bg-color: red;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

#app > div {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 8rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    'nav header'
    'nav main'
}

header {
  padding: 1em;
}

header {
  background: #fefefe;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
  grid-area: header;
}

nav {
  align-items: stretch;
  background: #222;
  color: #d5d5d5;
  display: flex;
  flex-direction: column;
  grid-area: nav;
}
nav > a {
  align-items: center;
  display: flex;
  flex: 0 0 5rem;
  justify-content: center;
  padding: 0 .4rem;
  text-transform: capitalize;
}
nav > a:hover {
  color: #fefefe;
}

main {
  background: #fefefe;
  display: flex;
  grid-area: main;
  margin: .8rem;
}

.full-size {
  flex-grow: 1;
}

.editarea {
  cursor: text;
}


.public-DraftEditor-content {
  padding: .6rem;

  & > div > *:first-child {
    margin-top: 0;
  }
}

.slate-editor {
  $syntax-h: 1rem;

  flex-grow: 1;

  * {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  img { pointer-events: none; } // NOTE this prevents the title display

  .slate-node-line {
    display: block;
    position: relative;
  }
  .slate-node-contentless {
    font-size: .6rem;
    width: 100%;
  }
  .symb {
    --symb-gutter: .5ch

    display: inline-block;
    font-size: .6rem;
    background: var(--symb-bg-color);
    color: var(--symb-color);
    box-shadow: 1px 1px 2px #00000066;
    border-left: solid var(--symb-gutter) var(--symb-bg-color);
    border-right: solid var(--symb-gutter) var(--symb-bg-color);
    margin: 0 var(--symb-gutter);
    text-shadow: -1px 0 0 var(--symb-bg-color),
                  -1px 0 0 var(--symb-bg-color),
                  0 1px 0 var(--symb-bg-color),
                  0 -1px 0 var(--symb-bg-color),
                  1px 1px 0 var(--symb-bg-color),
                  -1px -1px 0 var(--symb-bg-color),
                  1px -1px 0 var(--symb-bg-color),
                  -1px 1px 0 var(--symb-bg-color);

    z-index: 0;
    &::before {
      --char-w: 1ch;
      --dot-x1: calc(.40 * var(--char-w));
      --dot-x2: calc(.60 * var(--char-w));

      background: repeating-linear-gradient(to right
        , transparent
        , transparent var(--dot-x1)
        , currentColor var(--dot-x1)
        , currentColor var(--dot-x2)
        , transparent var(--dot-x2)
        , transparent var(--char-w)
      );
      content: "";
      display: block;
      opacity: .4;
      position: absolute;
      top: .50em;
      height: .2em;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  .textarea--pholder-hack::placeholder { color: currentColor; }

  // ---------------------------------------------------------------------------
  // Editor specific elements visibility:
  // ---------------------------------------------------------------------------

  // $symb-opacity: .5;
  $highlight-border: .2rem;
  $highlight-margin: .2rem;

  @mixin show-symb-marks {
    .symb {
      opacity: 1;
      position: relative;
    }
  }

  // Hide
  .slate-node-blank, .symb { position: absolute; }
  .symb {
    opacity: 0;
    display: inline-block;
  }

  // Show
  &:hover > .slate-node-line,
  &:hover > .slate-node-contentless > .slate-node-line,
  .slate-node:hover > .slate-node-line,
  .slate-node:hover > .slate-node-contentless > .slate-node-line,
  .slate-selected.slate-node-line,
  .slate-selected > .slate-node-line.slate-node-contentless,
  .slate-selected > .slate-node-contentless > .slate-node-line {
    &::before {
      pointer-events: none;
      border: dashed $highlight-border currentColor;
      box-sizing: border-box;
      content: '';
      display: block;
      position: absolute;

      bottom: $highlight-margin * .8;
      left: $highlight-margin / 2;
      right: $highlight-margin / 2;
      top: $highlight-margin * .8;
    }
  }
  &:hover > .slate-node-line,
  &:hover > .slate-node-contentless > .slate-node-line,
  // .slate-node:hover > .slate-node-line,
  .slate-node:hover > .slate-node-contentless > .slate-node-line,
  .slate-selected.slate-node-line,
  .slate-selected > .slate-node-line.slate-node-contentless,
  .slate-selected > .slate-node-contentless > .slate-node-line {
    @include show-symb-marks;
    font-family: monospace;
  }
  .slate-node-line::before { opacity: 0; }
  .slate-node-blank .slate-node-line::before  { opacity: .05; }

  .slate-selected > .slate-node-blank {
    position: static;
    .slate-node-line {
      padding: $highlight-border + $highlight-margin;
    }
  }
  .slate-node-blank .slate-node-line.slate-selected::before { opacity: .2 }

  &:hover, .slate-node:hover {
    & > .slate-node-blank { position: static; }
    & > .slate-node-line, & > .slate-node-contentless > .slate-node-line {
      padding: $highlight-border + $highlight-margin;
    }
  }
  .slate-node-line:hover::before { opacity: .2 }

  // ---------------------------------------------------------------------------
  // Theme Example:
  // ---------------------------------------------------------------------------

  .slate-void {
    display: inline-block;
    & > * { display: block; }
    & > img { max-width: 100%; }
  }

  a { // TODO remove once in Iframe
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

  // Temp style for empty lines
  i, sup {
    display: block;
    font-size: $syntax-h;
    margin-top: .5rem;
  }

  sup {
    position: absolute;
    top: -1rem
  }

  section {
    box-shadow: 4px 4px 5px #000;
  }

  .row {
    display: flex;
    justify-content: space-around;
    .col-3 { width: 33%; }
  }

  li { margin: .5rem 0; }

  perspective: 500px;
  perspective-origin: 10rem bottom;

  .inline {
    display: inline-block;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    z-index: 1;
  }
}

@keyframes bounce {
  from { transform:  scale(.9) translateZ(-2rem); }
  to { transform: scale(.9) translateZ(2rem); }
}
